.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6%;
    position: relative;
    background-image: linear-gradient(to right, #9c8adc, #9582d8, #8f7bd5, #8873d1, #816ccd, #8066cd, #7f60cc, #7f5acb, #8553cd, #8b4cce, #9243ce, #9a38ce);
}
.hamburger{
    display: none;
}

.nav_logo img{
    object-fit: contain;
    height: 45px;
}

.header_nav .link {
    margin: 0 30px 0 0;
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
}
.icon{
    position: relative;
    top: 2px;
}
.menu{
    color: white;
    font-size: 1.3rem;
}
@media screen and (max-width: 770px) {
    .nav{
        display: none;
    }.hamburger{
        display: block;
    }#hidden {
        position: absolute;
        top: 81px;
        right: 0;
        z-index: 99;
        height: 220px;
        background-image: linear-gradient(to right, #9c8adc, #9582d8, #8f7bd5, #8873d1, #816ccd, #8066cd, #7f60cc, #7f5acb, #8553cd, #8b4cce, #9243ce, #9a38ce);
        display: flex;
        flex-direction: column;
    } 
    #hidden .link{
        display: block;
        padding: 0.8rem;
    }
}


