.trainermain {
    display: flex;
    
}
.trainermain__img {
    width: 60%;
    text-align: center;
}

.trainermain__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.trainermain__right {
    width: 40%;
    margin: 2rem 2rem 1rem 0.5rem;
    border: 1px solid rgb(233, 223, 223);
    padding: 1rem;
}

.trainermain__right> div {
    border-bottom: 1px solid rgb(243, 233, 233);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.trainermain__img >img {
    margin: 2em 0.5em 1em 0.5em;
    width: 20em;
    height: 20em;
    border: 1px solid rgba(211,211,211,0.5);
    object-fit: contain;	
}

.trainermain__img > img:hover {
    transform:  scale(1.1);
    transition: 1s;
}

.trainer__bio h3 {
    font-size: 1rem;
}

.trainer__bio h3:first-child{
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.trainer__value {
    margin-left: 4rem;
}

.trainer__value h3 {
    font-size: 1rem;
    margin-bottom: 0.9rem;
}

.trainer__value span, .trainer__bio span {
    color: gray;
    font-size: 0.9rem;
    font-weight: 400;
}

.about p {
    font-size: 0.8rem;
}

/* .medical p {
    font-size: 0.8rem;
}

.location p {
    font-size: 0.8rem;
} */

span {
    font-weight: bold;
    color: gray;
    display: block;
    margin-bottom: 0.5rem;
}

.expertise p {
    display: inline-block;
    border: 1px solid purple;
    border-radius: 20px;
    color: purple;
    padding: 0.2rem 0.8rem;
    margin-right: 0.5rem;
}

.availability p {
    font-size: 0.8rem;
}

.availability h3 {
    display: inline-block;
}

.card {
    border: 1px solid gray;
    padding: 0.6rem 0;
    text-align:center ;
    margin-bottom: 1rem;
}

.note p {
    padding-bottom: 0.5rem;
}

.card span {
    color: whitesmoke;
    border-bottom: 1px solid gray;
    padding-bottom: 0.5rem;
}

.card {
    background-image: linear-gradient(to right, #9c8adc, #9582d8, #8f7bd5, #8873d1, #816ccd, #8066cd, #7f60cc, #7f5acb, #8553cd, #8b4cce, #9243ce, #9a38ce);
}


.cards span {
    border: 1px solid gray;
    text-align:center;
    padding: .5rem;
    color: whitesmoke;
    margin-bottom: 1rem;
    background-image: linear-gradient(to right, #9c8adc, #9582d8, #8f7bd5, #8873d1, #816ccd, #8066cd, #7f60cc, #7f5acb, #8553cd, #8b4cce, #9243ce, #9a38ce);
}

.days p {
    border-bottom: 1px solid rgb(243, 233, 233);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.languages {
    border-bottom: 1px solid rgb(243, 233, 233);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.education p {
    border-bottom: 1px solid rgb(243, 233, 233);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.trainer__interest {
    border-bottom: 1px solid rgb(243, 233, 233);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.icons {
    position: relative;
    top: 1px;
    right: 5px;
    font-size: .7rem;
    color: purple;
}

.bttn button{
    background-color: rgb(141, 30, 141);
    float: left;
    border: none;
    color: whitesmoke;
    width: 50%;
    padding: .5rem;
    cursor: pointer;
    outline: none;
}

.join button {
    background-color: rgb(184, 184, 231);
}

.join a {
    text-decoration: none;
    border: none;
    color: white;
}


