
.trainers{
    display: flex;
    max-width: 70rem;
    flex-wrap: wrap;
    margin: 2rem auto;
}
/* 
.row_center {
    justify-content: center;
}

img {
    border-radius: .5rem;
}

.card {
    border: .1rem #c0c0c0 solid;
    background-color: #f8f8f8;
    border-radius: .5rem;
    margin: 1rem;
}

.card_body {
    padding: 1rem;
}

.card_body > * {
     margin-bottom: .5rem;
} */