

.trainercard__row1{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    align-items: center;
}
h3{
    color: purple;
    font-size: 0.9rem;
}
h4{
    color: rgb(70, 70, 70);
    font-weight: 300;
    font-size: .9rem;
}
.trainer__img > img{
    height: 5rem;
    margin-right: 1rem;
    object-fit: contain;
    border-radius: 50%;
}
.profile span{
    display: block;
    color: rgb(70, 70, 70);
    font-weight: 300;
    font-size: .9rem;
}
.trainercard__row2{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: rgba(243, 118, 243,0.3);
    align-items: center;
}
.trainer__card{
    display: flex;
    flex-direction: column;
    width: 21rem;
    border: 1px solid rgba(85, 82, 82,0.2);
    margin: 1rem;
    color: rgba(145, 141, 141, 0.788);
    box-shadow: 2px 2px 20px;
}

.btn button{
    background-color: rgb(141, 30, 141);
    border: none;
    color: white;
    border-radius: 500px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    padding: .4rem .8rem;
    font-size: .7rem;
    outline: none;
}

.btn button:hover {
    background-color: rgb(179, 74, 165);
}

.icon {
    position: relative;
    top: 1px;
    right: 5px;
    font-size: .7rem;
}

